<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category_country }}</title>
</head>
<body>

{% for p in category_posts %}
<div>
    <h2>{{ p.title }}</h2>
    <h4><a href="{% url 'blog:get_category' category_country=p.category_country %}">{{ p.category_country }}</a>,
        {{ p.city }}</h4>
    <h5>Author: {{ p.author }}</h5>
    <h5>Published: {{ p.published_date }}</h5>
    <p><a href="{% url 'blog:one_post' id=p.id %}">Read the post "{{ p.title }}" --></a></p>
    <br/>
</div>
{% endfor %}
<hr/>
<a href="{% url 'blog:post_list' %}"> <-- Back to all posts </a>

</body>
</html>