<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel blog</title>
</head>
<body>

<h1>Welcome to our TRAVEL BLOG</h1>
<br/>
<h2>All posts:</h2>
<br/>

{% for p in posts %}
<div>
    <h3>{{ p.title }}</h3>
    <h4><a href="{% url 'blog:get_category' category_country=p.category_country %}">{{ p.category_country }}</a>,
        {{ p.city }}</h4>
    <h5>Author: {{ p.author }}</h5>
    <h5>Published: {{ p.published_date }}</h5>
    <p><a href="{% url 'blog:one_post' id=p.id %}">Read the post "{{ p.title }}" --></a></p>

    <br/>
</div>
{% endfor %}


</body>
</html>
