<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>

<a href="{% url 'blog:post_list' %}"> <-- Return to all posts </a>
<h1>{{ post.title }}</h1>
<h2>{{ post.category_country }}, {{ post.city }}</h2>
<h3>{{ post.author }}, {{ post.published_date }}</h3>
<p>{{ post.text }}</p>
<hr/>
<a href="{% url 'blog:get_category' category_country=post.category_country %}">
    Read all posts about {{ post.category_country }}</a>

</body>
</html>